@import "tailwindcss";

@theme {
    /* LIGHT MODE COLORS */
    --color-background: #F2F8FB;
    --color-foreground: #0A1026;
    --color-card: #FFFFFF;
    --color-primary: #0F5C7B;
    --color-secondary: #F1F6FA;
    --color-muted-foreground: #5E6B76;
    --color-destructive: #8A0C00;
    --color-input: #CFD2DB;
    --color-ring: #19597F;
    --color-sidebar-background: #0A1026;
    --color-sidebar-foreground: #BDC7D6;
    --color-sidebar-primary: #0F5C7B;
    --color-sidebar-border: #2C3C59;
    --color-sidebar-ring: #0F84F0;
    --color-succes: #0A6426;
    --color-success-bg: #E4FAF1;
    --color-success-border: #B1E8CE;
    --color-warning: #7A3E0A;
    --color-warning-bg: #FFFBE6;
    --color-warning-border: #F5DE9A;
    --color-info: #1D3F66;
    --color-info-bg: #F2F9FF;
    --color-info-border: #BFDBF2;
    --color-status-error-text: #801E1E;
    --color-status-error-bg: #FEF2F2;
    --color-status-error-border: #FECACA;
    --color-text-link: #0D5571;

    /* DARK MODE COLORS */
    --color-dark-background: #131F30;
    --color-dark-foreground: #F1F5FF;
    --color-dark-card: #213046;
    --color-dark-primary: #19D4B3;
    --color-dark-primary-foreground: #062521;
    --color-dark-border: #303E53;
    --color-dark-ring: #26B8EE;
    --color-dark-sidebar-background: #213046;
    --color-dark-sidebar-foreground: #AFB4BD;
    --color-dark-sidebar-primary: #19D4B3;
    --color-dark-sidebar-accent: #293241;
    --color-dark-success: #9BEFAC;
    --color-dark-success-bg: #081F10;
    --color-dark-warning: #EA994D;
    --color-dark-warning-bg: #241105;
    --color-dark-info: #BFDBF2;
    --color-dark-info-bg: #0F1F33;
    --color-dark-info-border: #1D3F66;
    --color-dark-status-error-text: #FCA5A5;
    --color-dark-status-error-bg: #330707;
    --color-dark-status-success-text: #9FF1AC;
    --color-dark-status-warning-text: #F3BA77;
    --color-dark-text-link: #26B8EE;

}