DATABASE_URL="postgresql://postgres.[SEU_PROJETO]:[SUA_SENHA]@[HOST_DO_SUPABASE]:5432/postgres"
PORT=your-choosen-portSUPABASE_URL=your-supabase-url
SUPABASE_KEY=your-supabase-key
PORT=5000
JWT_SECRET=your-jwt-secret